body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #1814ec;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
.indented {
    padding-left: 20px; /* Adjust the value as needed */
  }
.vertical-list {
  list-style-type: none;
  padding: 0;
}

.vertical-list li {
  margin-bottom: 10px; /* Increase the margin bottom */
  font-size: 18px; /* Increase the font size */
  line-height: 1.5; /* Adjust the line height */
}